@import url('https://fonts.googleapis.com/css2?family=Jost:wght@900&family=Noto+Serif:ital,wght@1,900&family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:ital,wght@0,700;1,400&display=sw');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
 }

 ::-webkit-scrollbar {
    width: 10px;
}


body{
    
    background-color:black;
    color: white;
    font-family: 'Prompt', sans-serif; 
}


body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: #f57023;
}

a, .btn{
    transition: all 300ms ease;
}

nav, .nav-links {
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    /* position: absolute;
    right: 0px; */
    
}




a{
    color: rgb(153, 153, 226);
    text-decoration: none;
    text-decoration-color:white;
}
a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
     
}
.logo{
    font-size: 2rem;
}
.logo img{
    position: absolute;
    width: 520px;
    margin: -25px;
    top: -3px;
    left: 4px;
}
.pogo img{ 
    padding: -16px;
    width: 303px;
    margin: -51px
}
.logo:hover{
    cursor: default;
}

#hamburger-nav{
    display: none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: rgb(153, 153, 226);
    transition: all 0.3 ease-in-out;
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: revert;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    border-radius: 26rem
}
.menu-links a{
    display: block;
    padding: 2px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(153, 153, 226);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
   
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    min-height: 300px;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
}
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.section__pic-container{
    display: flex;
    height: 400px;
    width: 345px;
    margin: auto 0;
}

.section__text{
    align-self: center;
    text-align: center;
    font-size: 31px;
    color: blueviolet;
}
.section__text p{
    font-weight: 600;
    color: white;
}
.section__text__p1{
    text-align: center;
}
.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title{
    font-size: 3rem;
    text-align: center;
}
#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.icon{
    cursor: pointer;
    height: 2rem;
    width: 45px;
    height: 45px;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.btn-color-1,.btn-color-2{
    border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-1:hover,.btn-color-2:hover{
    cursor: pointer;
}
.btn-color-1,.btn-color-2:hover{
    background: rgb(53, 53, 53);
    color: wheat;
}
.btn-color-1:hover{
    background: rgb(0, 0, 0);
}
.btn-color-2{
    background: none;
    color: darkgoldenrod;
    
}
.btn-color-2:hover{
    border: rgb(255, 255, 255);
}
.btn-container{
    gap: 1rem;
}
.section_pic-container img{
    /* width: 293px; */
   /* border-radius: 22rem; */
    width: 46%;
    height: 90%;
   
}
.section__pic_container img{
    width: 320px;
    border-radius: 1rem;
    
}
#about{
    position: relative;
}
.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-containers{
    justify-content: center;
    flex-direction: column;
}
.about-containers.about-details-containers{
    display: flex;
}
.about.pic{
    border-radius: 2rem;
}
.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}
.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    color: black;
    margin: 50px;
    
}
.ppp{
    color: silver;
}
.ll{
    color: silver;
}
.section-container{
    gap: 4rem;
    height: 80%;
}
.section__pic_container{
    height: 273px;
    width: 400px;
    margin: auto 0;
}

#code{
    position: relative;
    
}
.code-sub-title{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.code-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}
article.icon{
    cursor: default;
}
#project{
    position: relative;
}
.color-container{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}
.project-img{
    border-radius: 2rem;
    width: 32%;
    height: 70%;
}
.project-title{
    margin: 1rem;
    color: rgb(153, 153, 226);
}
.project-btn{
    color: rgb(153, 153, 226);
    border-color: rgb(163, 163, 163);
}

.project .experince-details-container {
    font-size: 50px;
    color: blueviolet;
    transition: color 0.3s ease;
   
}

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250,250,250);
    margin: 1rem;
    padding: 0.5rem;
    /* margin: 0px;
    width: 323px; */
}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -0.5rem;
    margin: 3px;
}
.contact-info-container p{
    font-size: larger;
}
.contact-icon{
    cursor: default;
    
}

footer{
    height: 26vh;
    margin: 0 1rem;
}
footer{
    text-align: center;
}

.services, .work{
    color:#fff;
    /* background: #111; */
}
.services .title::before,
.work .title::before{
    background: #fff;
}

.services .serv-content .card{
    /* width: calc(33% - 20px); */
    background: white;
    text-align: center;
    border-radius: 6px;
    padding: 35px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 50px;
    border-radius: 2rem;
   
}
.services .serv-content .card:hover{
    background: blueviolet;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: blueviolet;
    transition: color 0.3s ease;
   
}
.services .serv-content .card:hover i{
    color: black;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: black;
}
.services p.zz{
    color: rgb(85, 85, 85);
}

